DeltaOrMissingFileMovement/DeltaOrMissingFileMovement.json
{
   "$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
   "contentVersion":"1.0.0.0",
   "parameters":{
      "factoryName":{
         "type":"string",
         "metadata":"Data Factory name"
      },
      "POC":{
         "type":"string"
      }
   },
   "variables":{
      "factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
   },
   "resources":[
      {
         "name":"[concat(parameters('factoryName'), '/DeltaOrMissingFileMovement')]",
         "type":"Microsoft.DataFactory/factories/pipelines",
         "apiVersion":"2018-06-01",
         "properties":{
            "activities":[
               {
                  "name":"Get List of Source Files",
                  "type":"GetMetadata",
                  "dependsOn":[
                     
                  ],
                  "policy":{
                     "timeout":"0.12:00:00",
                     "retry":0,
                     "retryIntervalInSeconds":30,
                     "secureOutput":false,
                     "secureInput":false
                  },
                  "userProperties":[
                     
                  ],
                  "typeProperties":{
                     "dataset":{
                        "referenceName":"SourceList",
                        "type":"DatasetReference",
                        "parameters":{
                           
                        }
                     },
                     "fieldList":[
                        "childItems"
                     ],
                     "storeSettings":{
                        "type":"AzureBlobStorageReadSettings",
                        "enablePartitionDiscovery":false
                     },
                     "formatSettings":{
                        "type":"BinaryReadSettings"
                     }
                  }
               },
               {
                  "name":"Get List of Sink Files",
                  "type":"GetMetadata",
                  "dependsOn":[
                     
                  ],
                  "policy":{
                     "timeout":"0.12:00:00",
                     "retry":0,
                     "retryIntervalInSeconds":30,
                     "secureOutput":false,
                     "secureInput":false
                  },
                  "userProperties":[
                     
                  ],
                  "typeProperties":{
                     "dataset":{
                        "referenceName":"SinkList",
                        "type":"DatasetReference",
                        "parameters":{
                           
                        }
                     },
                     "fieldList":[
                        "childItems"
                     ],
                     "storeSettings":{
                        "type":"AzureBlobStorageReadSettings",
                        "enablePartitionDiscovery":false
                     },
                     "formatSettings":{
                        "type":"BinaryReadSettings"
                     }
                  }
               },
               {
                  "name":"Get Delta Or Missing Files",
                  "description":"Get list of Files present in Source but not in Sink",
                  "type":"Filter",
                  "dependsOn":[
                     {
                        "activity":"Get List of Source Files",
                        "dependencyConditions":[
                           "Succeeded"
                        ]
                     },
                     {
                        "activity":"Get List of Sink Files",
                        "dependencyConditions":[
                           "Succeeded"
                        ]
                     }
                  ],
                  "userProperties":[
                     
                  ],
                  "typeProperties":{
                     "items":{
                        "value":"@activity('Get List of Source Files').output.childItems",
                        "type":"Expression"
                     },
                     "condition":{
                        "value":"@not(contains(activity('Get List Of Sink Files').output.childItems,item()))",
                        "type":"Expression"
                     }
                  }
               },
               {
                  "name":"Iterate on Delta File List",
                  "type":"ForEach",
                  "dependsOn":[
                     {
                        "activity":"Get Delta Or Missing Files",
                        "dependencyConditions":[
                           "Succeeded"
                        ]
                     }
                  ],
                  "userProperties":[
                     
                  ],
                  "typeProperties":{
                     "items":{
                        "value":"@activity('Get Delta Or Missing Files').output.value",
                        "type":"Expression"
                     },
                     "isSequential":false,
                     "activities":[
                        {
                           "name":"Copy Delta Files",
                           "type":"Copy",
                           "dependsOn":[
                              
                           ],
                           "policy":{
                              "timeout":"0.12:00:00",
                              "retry":0,
                              "retryIntervalInSeconds":30,
                              "secureOutput":false,
                              "secureInput":false
                           },
                           "userProperties":[
                              
                           ],
                           "typeProperties":{
                              "source":{
                                 "type":"BinarySource",
                                 "storeSettings":{
                                    "type":"AzureBlobStorageReadSettings",
                                    "recursive":true
                                 },
                                 "formatSettings":{
                                    "type":"BinaryReadSettings"
                                 }
                              },
                              "sink":{
                                 "type":"BinarySink",
                                 "storeSettings":{
                                    "type":"AzureBlobStorageWriteSettings"
                                 }
                              },
                              "enableStaging":false
                           },
                           "inputs":[
                              {
                                 "referenceName":"SourceFiles",
                                 "type":"DatasetReference",
                                 "parameters":{
                                    "FIleNm":{
                                       "value":"@item().Name",
                                       "type":"Expression"
                                    }
                                 }
                              }
                           ],
                           "outputs":[
                              {
                                 "referenceName":"SinkFiles",
                                 "type":"DatasetReference",
                                 "parameters":{
                                    "FileNm":{
                                       "value":"@item().Name",
                                       "type":"Expression"
                                    }
                                 }
                              }
                           ]
                        }
                     ]
                  }
               }
            ],
            "policy":{
               "elapsedTimeMetric":{
                  
               },
               "cancelAfter":{
                  
               }
            },
            "annotations":[
               
            ]
         },
         "dependsOn":[
            "[concat(variables('factoryId'), '/datasets/SourceList')]",
            "[concat(variables('factoryId'), '/datasets/SinkList')]",
            "[concat(variables('factoryId'), '/datasets/SourceFiles')]",
            "[concat(variables('factoryId'), '/datasets/SinkFiles')]"
         ]
      },
      {
         "name":"[concat(parameters('factoryName'), '/SourceList')]",
         "type":"Microsoft.DataFactory/factories/datasets",
         "apiVersion":"2018-06-01",
         "properties":{
            "linkedServiceName":{
               "referenceName":"[parameters('POC')]",
               "type":"LinkedServiceReference"
            },
            "annotations":[
               
            ],
            "type":"Binary",
            "typeProperties":{
               "location":{
                  "type":"AzureBlobStorageLocation",
                  "folderPath":"DataSharkX/Source",
                  "container":"test"
               }
            }
         },
         "dependsOn":[
            
         ]
      },
      {
         "name":"[concat(parameters('factoryName'), '/SinkList')]",
         "type":"Microsoft.DataFactory/factories/datasets",
         "apiVersion":"2018-06-01",
         "properties":{
            "linkedServiceName":{
               "referenceName":"[parameters('POC')]",
               "type":"LinkedServiceReference"
            },
            "annotations":[
               
            ],
            "type":"Binary",
            "typeProperties":{
               "location":{
                  "type":"AzureBlobStorageLocation",
                  "folderPath":"DataSharkX/Sink",
                  "container":"test"
               }
            }
         },
         "dependsOn":[
            
         ]
      },
      {
         "name":"[concat(parameters('factoryName'), '/SourceFiles')]",
         "type":"Microsoft.DataFactory/factories/datasets",
         "apiVersion":"2018-06-01",
         "properties":{
            "linkedServiceName":{
               "referenceName":"[parameters('POC')]",
               "type":"LinkedServiceReference"
            },
            "parameters":{
               "FIleNm":{
                  "type":"string"
               }
            },
            "annotations":[
               
            ],
            "type":"Binary",
            "typeProperties":{
               "location":{
                  "type":"AzureBlobStorageLocation",
                  "fileName":{
                     "value":"@dataset().FIleNm",
                     "type":"Expression"
                  },
                  "folderPath":"DataSharkX/Source",
                  "container":"test"
               }
            }
         },
         "dependsOn":[
            
         ]
      },
      {
         "name":"[concat(parameters('factoryName'), '/SinkFiles')]",
         "type":"Microsoft.DataFactory/factories/datasets",
         "apiVersion":"2018-06-01",
         "properties":{
            "linkedServiceName":{
               "referenceName":"[parameters('POC')]",
               "type":"LinkedServiceReference"
            },
            "parameters":{
               "FileNm":{
                  "type":"string"
               }
            },
            "annotations":[
               
            ],
            "type":"Binary",
            "typeProperties":{
               "location":{
                  "type":"AzureBlobStorageLocation",
                  "fileName":{
                     "value":"@dataset().FileNm",
                     "type":"Expression"
                  },
                  "folderPath":"DataSharkX/Sink",
                  "container":"test"
               }
            }
         },
         "dependsOn":[
            
         ]
      }
   ]
}
