ADF Pipeline Trigger/PL_Cmn_TriggerPipeline.json
{
    "name": "PL_Cmn_TriggerPipeline",
    "properties": {
        "activities": [
            {
                "name": "ACT_Cmn_TriggerPipeline",
                "description": "This activity would trigger the pipeline",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "ACT_Cmn_GetOAuthToken",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": true
                },
                "userProperties": [],
                "typeProperties": {
                    "url": {
                        "value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.Subscription,'/resourceGroups/',pipeline().parameters.ResourceGroupName,'/providers/Microsoft.DataFactory/factories/',pipeline().parameters.ADFName,'/pipelines/',pipeline().parameters.ADFPipelineName,'/createRun?api-version=2018-07-01-preview')",
                        "type": "Expression"
                    },
                    "method": "POST",
                    "headers": {
                        "Authorization": {
                            "value": "@concat(string(activity('ACT_Cmn_GetOAuthToken').output.token_type),' ',string(activity('ACT_Cmn_GetOAuthToken').output.access_token))",
                            "type": "Expression"
                        }
                    },
                    "body": " "
                }
            },
            {
                "name": "ACT_Cmn_GetOAuthToken",
                "description": "This activity would get the token for accessing ADW",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "ACT_Cmn_GetSecretValue",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": true,
                    "secureInput": true
                },
                "userProperties": [],
                "typeProperties": {
                    "url": {
                        "value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantID,'/oauth2/token')",
                        "type": "Expression"
                    },
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/x-www-form-urlencoded"
                    },
                    "body": {
                        "value": "@concat('grant_type=client_credentials&resource=https://management.azure.com&client_id=',pipeline().parameters.ClientID,'&client_secret=',encodeUriComponent(activity('ACT_Cmn_GetSecretValue').output.value))",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "ACT_Cmn_GetSecretValue",
                "description": "Fetches the value of secret from key vault.",
                "type": "WebActivity",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": true,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "url": {
                        "value": "@concat('https://',pipeline().parameters.KeyVaultName,'.vault.azure.net/secrets/',pipeline().parameters.SecretName,'?api-version=7.0')",
                        "type": "Expression"
                    },
                    "method": "GET",
                    "authentication": {
                        "type": "MSI",
                        "resource": "https://vault.azure.net"
                    }
                }
            }
        ],
        "parameters": {
            "TenantID": {
                "type": "string"
            },
            "ClientID": {
                "type": "string"
            },
            "Subscription": {
                "type": "string"
            },
            "ResourceGroupName": {
                "type": "string"
            },
            "ADFName": {
                "type": "string"
            },
            "ADFPipelineName": {
                "type": "string"
            },
            "SecretName": {
                "type": "string"
            },
            "KeyVaultName": {
                "type": "string"
            }
        },
        "annotations": [],
        "lastPublishTime": "2021-03-03T10:06:52Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}
