CopyVariableIntoSink/LoadVariableIntoSink.json
{
   "$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
   "contentVersion":"1.0.0.0",
   "parameters":{
      "factoryName":{
         "type":"string",
         "metadata":"Data Factory name"
      },
      "POC":{
         "type":"string"
      }
   },
   "variables":{
      "factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
   },
   "resources":[
      {
         "name":"[concat(parameters('factoryName'), '/LoadVariableIntoSink')]",
         "type":"Microsoft.DataFactory/factories/pipelines",
         "apiVersion":"2018-06-01",
         "properties":{
            "activities":[
               {
                  "name":"LoadorWriteVariableIntoSink",
                  "type":"Copy",
                  "dependsOn":[
                     {
                        "activity":"Set OutputVariable",
                        "dependencyConditions":[
                           "Succeeded"
                        ]
                     }
                  ],
                  "policy":{
                     "timeout":"0.12:00:00",
                     "retry":0,
                     "retryIntervalInSeconds":30,
                     "secureOutput":false,
                     "secureInput":false
                  },
                  "userProperties":[
                     
                  ],
                  "typeProperties":{
                     "source":{
                        "type":"DelimitedTextSource",
                        "additionalColumns":[
                           {
                              "name":"OutputVariable",
                              "value":{
                                 "value":"@variables('OutputVariable')",
                                 "type":"Expression"
                              }
                           }
                        ],
                        "storeSettings":{
                           "type":"AzureBlobStorageReadSettings",
                           "recursive":true,
                           "enablePartitionDiscovery":false
                        },
                        "formatSettings":{
                           "type":"DelimitedTextReadSettings"
                        }
                     },
                     "sink":{
                        "type":"DelimitedTextSink",
                        "storeSettings":{
                           "type":"AzureBlobStorageWriteSettings"
                        },
                        "formatSettings":{
                           "type":"DelimitedTextWriteSettings",
                           "quoteAllText":true,
                           "fileExtension":".txt"
                        }
                     },
                     "enableStaging":false,
                     "translator":{
                        "type":"TabularTranslator",
                        "mappings":[
                           {
                              "source":{
                                 "name":"OutputVariable",
                                 "type":"String"
                              },
                              "sink":{
                                 "name":"OutputVariable",
                                 "physicalType":"String"
                              }
                           }
                        ],
                        "typeConversion":true,
                        "typeConversionSettings":{
                           "allowDataTruncation":true,
                           "treatBooleanAsNumber":false
                        }
                     }
                  },
                  "inputs":[
                     {
                        "referenceName":"DummySourceDataset",
                        "type":"DatasetReference",
                        "parameters":{
                           
                        }
                     }
                  ],
                  "outputs":[
                     {
                        "referenceName":"SinkDataset",
                        "type":"DatasetReference",
                        "parameters":{
                           
                        }
                     }
                  ]
               },
               {
                  "name":"Set OutputVariable",
                  "type":"SetVariable",
                  "dependsOn":[
                     
                  ],
                  "userProperties":[
                     
                  ],
                  "typeProperties":{
                     "variableName":"OutputVariable",
                     "value":{
                        "value":"@pipeline().parameters.InputParameter",
                        "type":"Expression"
                     }
                  }
               }
            ],
            "policy":{
               "elapsedTimeMetric":{
                  
               },
               "cancelAfter":{
                  
               }
            },
            "parameters":{
               "InputParameter":{
                  "type":"string",
                  "defaultValue":"DataSharkX"
               }
            },
            "variables":{
               "OutputVariable":{
                  "type":"String"
               }
            },
            "annotations":[
               
            ]
         },
         "dependsOn":[
            "[concat(variables('factoryId'), '/datasets/DummySourceDataset')]",
            "[concat(variables('factoryId'), '/datasets/SinkDataset')]"
         ]
      },
      {
         "name":"[concat(parameters('factoryName'), '/DummySourceDataset')]",
         "type":"Microsoft.DataFactory/factories/datasets",
         "apiVersion":"2018-06-01",
         "properties":{
            "linkedServiceName":{
               "referenceName":"[parameters('POC')]",
               "type":"LinkedServiceReference"
            },
            "annotations":[
               
            ],
            "type":"DelimitedText",
            "typeProperties":{
               "location":{
                  "type":"AzureBlobStorageLocation",
                  "fileName":"S1.txt",
                  "folderPath":"DataSharkX/Source",
                  "container":"test"
               },
               "columnDelimiter":",",
               "escapeChar":"\\",
               "firstRowAsHeader":true,
               "quoteChar":"\""
            },
            "schema":[
               
            ]
         },
         "dependsOn":[
            
         ]
      },
      {
         "name":"[concat(parameters('factoryName'), '/SinkDataset')]",
         "type":"Microsoft.DataFactory/factories/datasets",
         "apiVersion":"2018-06-01",
         "properties":{
            "linkedServiceName":{
               "referenceName":"[parameters('POC')]",
               "type":"LinkedServiceReference"
            },
            "annotations":[
               
            ],
            "type":"DelimitedText",
            "typeProperties":{
               "location":{
                  "type":"AzureBlobStorageLocation",
                  "fileName":"OutputVariable.txt",
                  "folderPath":"DataSharkX/Sink",
                  "container":"test"
               },
               "columnDelimiter":",",
               "escapeChar":"\\",
               "firstRowAsHeader":true,
               "quoteChar":"\""
            },
            "schema":[
               
            ]
         },
         "dependsOn":[
            
         ]
      }
   ]
}
